@{ 
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Styles/equiz-temp.css" rel="stylesheet" />
    <script src="~/Scripts/libs/angularjs/angular.js"></script>
    <title>E-Quiz</title>
</head>
<body>
    @RenderBody()
    @RenderSection("FootScripts", false)
</body>
</html>