<ul class="moderator-top-header">
    <li>
        @Html.ActionLink(linkText: "Quizzes", actionName: "Index", controllerName: "Quiz")
    </li>
    <li>
        <a href="">User Groups</a>
    </li>
    <li>
        <a href="">Questions</a>
    </li>
    <li>
        <a href="">Full Name</a>
    </li>
</ul>
