
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section HeadStyles{
<link href="~/Areas/Moderator/Styles/bootstrap.css" rel="stylesheet" />
<link href="~/Areas/Moderator/Styles/equiz-temp.css" rel="stylesheet" />
}


<div ng-app="quizModule" id="container">
    <div ng-controller="QuizController as vm">
        <h2>Create/Edit {{vm.quiz.Name}}</h2>

        <div>
            <button class="tab-navigation-button" ng-class="{active : vm.tab=='quiz'}" ng-click="vm.switchTab('quiz')">Quiz</button>
            <button class="tab-navigation-button" ng-class="{active : vm.tab=='questions'}" ng-click="vm.switchTab('questions')">Questions ({{vm.questionController.questions.length}}/{{vm.quizBlock.QuestionCount}})</button>
        </div>
        <div ng-view class="tab-container" ng-controller="QuestionController as qc" ng-init="vm.setQuestionController(qc)"><p>{{quizForm}}</p></div>

        <div class="row">
            <div class="col-sm-2 col-sm-offset-4">
                <button class="form-control lightgray" ng-click="vm.save()" ng-disabled="vm.saveCanExecute()">Save</button>
            </div>
            <div class="col-sm-2">
                <button class="form-control lightgray">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section FootScripts{
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/quiz.module.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/quiz.config.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/quiz.service.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/userGroup.service.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/quiz.controller.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/question.service.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/question.controller.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/show-error.directive.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/unique-quiz-name.directive.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/show-time-span-error.directive.js"></script>
}