<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <connectionStrings>
    <add name="eQuizDB" connectionString="metadata=res://*/eQuizEntities.csdl|res://*/eQuizEntities.ssdl|res://*/eQuizEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2008r2dev;initial catalog=eQuiz;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>