@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="equizModule">
    <div ng-controller="LayoutController as lc">
        <div layout="row" style="padding:10px">
            <div>
                <button style="text-decoration:solid; font-size:20px" ng-click="lc.GoToReview()">
                    Students
                </button>
                <button style="text-decoration:solid; font-size:20px">
                    Quizzes
                </button>
                <label style="text-decoration:solid; font-size:20px; float:right">
                    Full Name
                </label>
            </div>
        </div>
        <div compile="lc.review"></div>
    </div>
</div>

@section FootScripts
{
    <script src="~/Scripts/app/shared/equiz.module.js"></script>

    <script src="~/Areas/Admin/Scripts/review/group.filter.js"></script>
    <script src="~/Areas/Admin/Scripts/review/highlight.filter.js"></script>
    <script src="~/Areas/Admin/Scripts/review/start-from.filter.js"></script>

    <script src="~/Areas/Admin/Scripts/quizReview/quizReview-data.service.js"></script>
    <script src="~/Areas/Admin/Scripts/review/review-data.service.js"></script>
    <script src="~/Areas/Admin/Scripts/shared-values.service.js"></script>
    <script src="~/Areas/Admin/Scripts/student/student-data.service.js"></script>

    <script src="~/Areas/Admin/Scripts/quizReview/quizReview.controller.js"></script>
    <script src="~/Areas/Admin/Scripts/review/review.controller.js"></script>
    <script src="~/Areas/Admin/Scripts/student/student.controller.js"></script>
    <script src="~/Areas/Admin/Scripts/compile.directive.js"></script>
    <script src="~/Areas/Admin/Scripts/layout.controller.js"></script>

    <link href="~/Areas/Admin/Styles/bootstrap-combined.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Styles/equiz-temp.css" rel="stylesheet" />
}
