@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="equizModule">
    <div ng-controller="LayoutController as lc">
        <div layout="row" style="padding:10px">
            <div>
                <button style="text-decoration:solid; font-size:20px" ng-click="lc.GoToReview()">
                    Students
                </button>
                <button style="text-decoration:solid; font-size:20px">
                    Quizzes
                </button>
                <label style="text-decoration:solid; font-size:20px; float:right">
                    Full Name
                </label>
            </div>
        </div>
        <div compile="lc.review"></div>
    </div>
</div>

@section FootScripts
{
    <script src="~/Areas/Admin/Scripts/shared/equiz.module.js"></script>
    <script src="~/Areas/Admin/Scripts/review/equiz.groupFilter.js"></script>
    <script src="~/Areas/Admin/Scripts/review/equiz.highlightFilter.js"></script>
    <script src="~/Areas/Admin/Scripts/review/equiz.startFromFilter.js"></script>
    <script src="~/Areas/Admin/Scripts/review/equiz.reviewDataService.js"></script>
    <script src="~/Areas/Admin/Scripts/equiz.sharedValuesService.js"></script>
    <script src="~/Areas/Admin/Scripts/student/equiz.studentDataService.js"></script>
    <script src="~/Areas/Admin/Scripts/review/equiz.reviewController.js"></script>
    <script src="~/Areas/Admin/Scripts/student/equiz.studentController.js"></script>
    <script src="~/Areas/Admin/Scripts/equiz.compileDirective.js"></script>
    <script src="~/Areas/Admin/Scripts/equiz.layoutController.js"></script>
    <script src="~/Scripts/libs/Underscore/underscore-min.js"></script>
    <link href="~/Areas/Admin/Styles/bootstrap-combined.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Styles/equiz-temp.css" rel="stylesheet" />
}
